@keyframes anima {             
    0%{ width: 25px; height: 50px; color: #DA5C5C;transform: rotate(0deg);}
    15%{ width: 20px; height: 45px; color: #fff; transform: rotate(360deg);}
    25%{ width: 20px; height: 45px; color: #fff; transform: rotate(360deg);}
    50%{ width: 35px; height: 60px; color: #fff; transform: rotate(360deg);}
    60%{ width: 35px; height: 60px; color: #fff; transform: rotate(360deg);}
    70%{ width: 35px; height: 60px; color: #fff; transform: rotate(360deg); }
    80%{ width: 35px; height: 60px; color: #fff; transform: rotate(360deg);}
    95%{ width: 35px; height: 60px; color: #fff; transform: rotate(0deg); }    
    100%{ width: 25px; height: 50px; color: #DA5C5C;transform: rotate(0deg);} 
    
                
}

.home-footer{
    height: 85px;
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #DA5C5C;

}

.home-footer-title{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.home-footer-images{
    display: flex;
    justify-content: center;
    
}

.imgFooter{
    width: 25px;
    height: 50px;
    color: #DA5C5C;
}

.home-footer-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;

}

.imgFooter:hover{
    animation: anima 1s linear 0.5s ;
    

   }

.imgFooter{
    animation: anima 5s linear 3s ;
    
}