@keyframes anima2 {
    from{
        width: 350px;
        background: #DA5C5C;
    }
    to{
        width: 348px;
        background: #a74b4b;
    }
}

.home-container{
    display: block;
    overflow-y: hidden;
}

.home-content{
    display: flex;
    margin: 50px 200px; 
}

.home-container-title{
    display: block;
    width: 490px;
}

.home-title{
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: #263238;
}

.home-subtitle{
   font-size: 24px;
   line-height: 33px;
   letter-spacing: -0.015em;
   color: #9E9E9E;
   margin-top: 40px;
}

.home-button{
    margin-top:30px;
    width: 350px;
    height: 70px;
    letter-spacing: -0.015em;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #DA5C5C;
    border: none;
}

.imageView{
    display: none;
}

.imageNone{
    height: 396px;
}

.home-button:hover{
    animation:anima2 0.5s ease-in;
}


@media (max-width: 950px) {
    .home-content{
        display: block;
        margin: 50px 20px; 
    }
    .home-container-title{
        display: block;
        text-align: center;
        width: 100%;
    }
    .imageNone{
        display: none;
    }

    .imageView{
        display: block;
        margin-top: 20px;
        width: 100%;
    }

    .home-title{
        font-size: 45px;
        line-height: 48px;
        letter-spacing: -0.015em;
        margin-bottom: 50px;
    
    }

    .home-subtitle{
        margin-top: 50px;
     }

     .home-button{
        margin-top:30px;
        padding: 20px 90px;
        font-size: 20px;
        line-height: 30px;
        border-radius: 10px;
        
    }

    .home-footer{
        margin-top: 50px;
        height: 85px;
    
    
    }
}