@keyframes aminaContainerCard {
    from{
      box-shadow: 1px 1px 10px rgba(0,0,0), -1px -1px 10px rgba(0,0,0);
    }
    to{
      box-shadow: 1px 1px 5px rgb(255, 255, 255), -1px -1px 5px rgba(255,255,255);
    }
}

@keyframes aminaButton{
    from{
        border-radius: 5px;
        box-shadow: 1px 1px 2px rgba(0,0,0, 0.5), -1px -1px 2px rgba(0,0,0,0.5);
    }
    to{
        border-radius: 10px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5), -1px -1px 2px rgba(0,0,0,0.5);
    }
}

.order-container{
    width: 100%;
    display: block;
    background: #F5F5F5;
    padding-bottom: 40px;
    
}

.nav-container{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
   
}

.nav-title{
    width: 45%;
    padding-left: 10%;
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: #DA5C5C;
}

.nav-subtitle{
    width: 100%;
    padding-left: 7%;
    list-style: none;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    
   
}

.nav-subtitle li{
    display: flex;
    justify-content: left;
    
}

.nav-subtitle strong{
    padding-right: 10px;
    font-size: 24px;
    color: #DA5C5C;
 }

 .nav-subtitle li span{
     padding-left: 5px;
    font-weight: 900;
    color: #9f9f9f;
    text-transform: uppercase;

 }

 .productList-container{
     display: flex;
     justify-content: center;
     padding: 40px 0px;
     
     
 }

 .content-items{
     width: 80%;
     display: grid;
     grid-template-columns: repeat(auto-fill, 235px);
     grid-gap: 20px 4px;
     justify-content: space-between;

 }

 .card-container{
     display: block;
     text-align: center;
     background: #FFFFFF;
     border-radius: 10px;
     box-shadow: 1px 1px 10px rgba(0,0,0), -1px -1px 10px rgba(0,0,0);
     padding: 15px 10px 20px 10px;
     
 }

 .card-container:hover{
    animation:aminaContainerCard 0.5s ease-out alternate-reverse;
    background-color: rgb(240, 240, 200);
    border-radius: 5px;
    cursor: pointer;
   
 }

 .card-container.selected{
   box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.4), -2px -2px 10px rgba(0, 142, 91, 0.4);
   border-radius: 5px;
   

 }

 .card-title{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #DA5C5C;
    padding-bottom: 15px;
 }

 .card-container.selected .card-title{
   color:rgb(0, 142, 91);
 }

 .card-image{
     width: 100%;
     border-radius: 10px;
     box-shadow: 0px 5px 5px rgba(0,0,0);
     
     
 }

 .card-container.selected .card-image{
     border-radius: 5px;
     box-shadow:  1px 1px 5px #008e5b, -1px -1px 5px #008e5b;
 }

 .card-price{
     font-size: 24px;
     line-height: 33px;
     letter-spacing: -0.015em;
     position: relative;
     top: 15px;
     right: 60px;
     color: #DA5C5C;
 }

 .card-container.selected .card-price{
    color: #008e5b;
 }

.card-description{
    width: 90%;
    padding-top: 30px;
    text-align: left;
    
}

.description-title{
    border-top: 1px solid  #dfdfdf;
    padding: 15px 0px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9E9E9E;

}

.card-container.selected .description-title{
    color:#008e5b;
}

.description{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.015em;
    word-break: break-word;
    text-align: justify;
    color: #9E9E9E;
}

.card-container.selected .description{
    color:#008e5b;
}
 
.orderLocalization-container{
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.orderLocalization-content{
    width: 80%;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 42px;
    padding: 20px 10px 15px 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0,0,0), -1px -1px 10px rgba(0,0,0);
    

}

.orderLocalization-content h3{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.orderLocalization-filter{
    margin: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.map{
    width: 100%;
    height:50vh;
    position: relative;
    z-index: 1;
}

.orderLocalization-select-filter{
    position: absolute;
    z-index: 2;
}

.orderSummary-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.orderSummary-content{
    width: 80%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 15px;
    background: #DA5C5C;
    border-radius: 10px;
}

.orderSummary-title{
    display: block;
    font-size: 16px;
    line-height: 105.18%;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.orderSummary-content p{
    text-transform: uppercase;
}

.orderSummary-content p:first-child{
    margin-bottom: 7px;
}

.orderSummary-content button{
    padding: 5px 50px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    border: none;
    color: #DA5C5C;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.orderSummary-content button:hover{
    cursor: pointer;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.8);
    animation:aminaButton 0.3s linear alternate-reverse;
   
    
}

@media screen and (max-width:615px) and (min-width:450px){
    .nav-container{
        height: 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }

    .nav-title{
        padding-top: 2%;
        font-size: 24px;
        line-height: 23px;

    }
    
    .nav-subtitle{
        padding-top: 1%;
        font-size: 16px;
        line-height: 20px;

       
    }

    .nav-subtitle strong{
        font-size: 20px;
        
     }

    .productList-container{
        padding: 30px 0px;
        
        
    }
   
    .content-items{
        width: 95%;
        grid-template-columns: repeat(auto-fill, 200px);
        justify-content: space-around;
    }

    .card-container:hover{
    background-color: #fff;
   
    }
   
    .card-price{
        top: 10px;
        left: -45px;
    }
   
   .card-description{
       width: 100%;
       padding-top: 10px;
       
    }

   .orderLocalization-container{
        width: 100vw;
        display: flex;   
    
    }
    
   .orderLocalization-content{
      width: 200vw;
      margin-bottom: 60px;
      padding: 10px 5px 10px 5px;
      box-shadow: 1px 1px 5px rgba(0,0,0), -1px -1px 5px rgba(0,0,0);
    
    }
   
    .description{
       font-size: 16px;
       line-height: 18px;
       
    } 

    .orderLocalization-content{
        width: 80%;
        
    }
   
   .orderSummary-container{
       width: 100%; 

    }
   
    .orderSummary-content{
       height: 125px;
       width: 90%;
       padding: 10px 10px;
       display: block;
       text-align: center;
       margin-bottom: 15px;
       border-radius: 10px;
       padding-left: 2%;
       padding-right: 2%;

    }
   
   .orderSummary-title{
       font-size: 20px;
    
   }
   
   .orderSummary-content button{
       padding: 10px 100px;
       margin-top: 10px;
       }

    .orderSummary-content button:hover{
        box-shadow: none;

       }
}

@media screen and (max-width:449px) and (min-width:350px){
    .nav-container{
        height: 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }

    .nav-title{
        padding-top: 2%;
        font-size: 24px;
        line-height: 23px;

    }
    
    .nav-subtitle{
        padding-top: 1%;
        font-size: 16px;
        line-height: 20px;

       
    }

    .nav-subtitle strong{
        font-size: 20px;
        
     }

    .productList-container{
        padding: 30px 0px;
        
        
    }
   
    .content-items{
        width: 95%;
        grid-template-columns: repeat(auto-fill, 165px);
        justify-content: space-around;
    }

    .card-container{
        box-shadow: 1px 1px 4px rgba(0,0,0), -1px -1px 4px rgba(0,0,0);
    }

    .card-container:hover{
    background-color: #fff;
   
    }
   
    .card-price{
        font-size: 22px;
        line-height: 27px;
        top: 10px;
        left: -28px;
    }
   
   .card-description{
       width: 100%;
       padding-top: 10px;
       
    }

   .orderLocalization-container{
        width: 100vw;
        display: flex;   
    
    }
    
   .orderLocalization-content{
      width: 200vw;
      margin-bottom: 60px;
      padding: 10px 5px 10px 5px;
      box-shadow: 1px 1px 5px rgba(0,0,0), -1px -1px 5px rgba(0,0,0);
    
    }
   
    .description{
       font-size: 16px;
       line-height: 18px;
       
    } 

    .orderLocalization-content{
        width: 80%;
        
    }
   
   .orderSummary-container{
       width: 100%; 

    }
   
    .orderSummary-content{
       height: 125px;
       width: 90%;
       padding: 10px 10px;
       display: block;
       text-align: center;
       margin-bottom: 15px;
       border-radius: 10px;
       padding-left: 2%;
       padding-right: 2%;

    }
   
   .orderSummary-title{
       font-size: 20px;
    
   }
   
   .orderSummary-content button{
       padding: 10px 100px;
       margin-top: 10px;
       }

    .orderSummary-content button:hover{
        box-shadow: none;

       }

}

@media screen and (max-width:349px) and (min-width:150px){
    .nav-container{
        height: 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }

    .nav-title{
        padding-top: 2%;
        font-size: 24px;
        line-height: 23px;

    }
    
    .nav-subtitle{
        padding-top: 1%;
        font-size: 16px;
        line-height: 20px;

       
    }

    .nav-subtitle strong{
        font-size: 20px;
        
     }

    .productList-container{
        padding: 30px 0px;
        
        
    }
   
    .content-items{
        width: 95%;
        grid-template-columns: repeat(auto-fill, 140px);
        justify-content: space-around;
    }

    .card-container{
        box-shadow: 1px 1px 4px rgba(0,0,0), -1px -1px 4px rgba(0,0,0);
    }

    .card-container:hover{
    background-color: #fff;
   
    }
   
    .card-price{
        font-size: 20px;
        line-height: 27px;
        top: 10px;
        left: -25px;
    }
   
   .card-description{
       width: 100%;
       padding-top: 10px;
       
    }

   .orderLocalization-container{
        width: 100vw;
        display: flex;   
    
    }
    
   .orderLocalization-content{
      width: 200vw;
      margin-bottom: 60px;
      padding: 10px 5px 10px 5px;
      box-shadow: 1px 1px 5px rgba(0,0,0), -1px -1px 5px rgba(0,0,0);
    
    }
   
    .description{
       font-size: 16px;
       line-height: 18px;
       
    } 

    .orderLocalization-content{
        width: 80%;
        
    }
   
   .orderSummary-container{
       width: 100%; 

    }
   
    .orderSummary-content{
       height: 125px;
       width: 90%;
       padding: 10px 10px;
       display: block;
       text-align: center;
       margin-bottom: 15px;
       border-radius: 10px;
       padding-left: 2%;
       padding-right: 2%;

    }
   
   .orderSummary-title{
       font-size: 20px;
    
   }
   
   .orderSummary-content button{
       padding: 10px 100px;
       margin-top: 10px;
       }

    .orderSummary-content button:hover{
        box-shadow: none;

       }
}